.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__nav {
    height: 100vh;
    width: 10vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    transform: skewX(-5deg);
    position: absolute;
    left: 45vw;
    

    &__link {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__page {
    height: 10vh;
    background-color: white;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__settings {
      @extend .container__page;
      position: absolute;
      top: 5vh;
    }

    &__about_me {
      @extend .container__page;
      position: absolute;
      flex-direction: row-reverse;
      top: 25vh;
    }

    &__projects {
      @extend .container__page;
      position: absolute;
      top: 45vh;
    }

    &__contact_me {
      @extend .container__page;
      position: absolute;
      flex-direction: row-reverse;
      top: 65vh;
    }

    &__links {
      @extend .container__page;
      position: absolute;
      top: 85vh;
    }
  }
}
