<% puts @position %>
<%= render "layouts/navbar", links: @navigation_links[:navbar] %>
<div class="container__page__<%= @position %>">
  <% @navigation_links[:page_links][params[:id]].each do |link| %>
    <div class="link__page">
      <%= embedded_svg(link.file) %>
    </div>
  <% end %>
</div>