.link {
  &__nav {
    width: 40%;
    cursor: pointer;
    transition: transform;
    &:hover {
      transform: scale(1.25);
    }
  }

  &__page {
    height: 40%;
    cursor: pointer;
    transition: transform;
    &:hover {
      transform: scale(1.25);
    }
    display: flex;


    &__left {
      margin-right: 1rem;
    }

    &__right {
      margin-left: 1rem;
    }
  }
}