<nav class='container__nav'>
  <% links.each do |link| %>
    <div class='container__nav__link'>
        <%= link_to links_path, class: "link__nav" do %>
          <% puts link.description %>
          <%= embedded_svg(link.file) %>
        <% end %>
    </div>
  <% end %>
</nav>