<nav class='container__nav <%= get_navbar_position @position %>'>
  <% links.each do |link| %>
    <div class='container__nav__link' id='<%= convert_title_to_snake_case link.description %>__links'>
      <%= link_to page_path(link.description),
        class: "link__nav" do %>
          <%= embedded_svg(link.file) %>
      <% end %>
    </div>
  <% end %>
</nav>